services: 
  jupyter-notebook:
    image: quandothoang/trump-twitter-analysis:fa41e5b
    ports:
      - "8787:8888"
    volumes:
      - .:/home/jovyan/work
    deploy:
      resources:
        limits:
          memory: 5G
    platform: linux/amd64
